<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f6e879">  <td>19/04/02 14:13:33</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.Aftertest()[pri:0, instance:com.via.tests.LoginTest@735b5592]">&lt;&lt;Aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>19/04/02 14:13:20</td>   <td>-13476</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.beforetest()[pri:0, instance:com.via.tests.LoginTest@735b5592]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/04/02 14:13:29</td>   <td>-4444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest()[pri:0, instance:com.via.tests.LoginTest@735b5592]">loginTest</td> 
  <td>main@32017212</td>   <td></td> </tr>
</table>
